*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
.idea
.npm
.tmp
.vscode/
coverage
firebase-functions-*.tgz
integration_test/.firebaserc
integration_test/*.log
integration_test/functions/firebase-functions.tgz
integration_test/functions/package.json
lib
node_modules
npm-debug.log
typings
yarn.lock
firebase-debug.log